
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}
 
/*=======================================================================*/
/*Intro Section*/

.intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1E1E1E;
    height: 100vh;
    gap: 60px;
    padding: 1rem;
}

.intro-section > div{
    text-align: center;
    margin-bottom: 5rem;
}

.intro-section > div > h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.intro-section > div > h5{
    font-size: 1.2rem;
    color: #455F90;
}

.intro-section > button{
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.intro-section > button > a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.8em;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
}

.intro-section > button > a:hover{
    background-color: #455F90;
    border: 2px solid #455F90;
}

.intro-section > button > a{
    text-decoration: none;
}

.fa-arrow-right{
    transition: 0.3s ease;
}

.intro-section > button:hover .fa-arrow-right{
    transform: rotate(90deg);
}



/*=======================================================================*/
/*Header and NavBar Section*/
header{
    background-color: #455F90;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    transition: 1s ease;

}

header > nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1.2rem;
    font-size: 12px;
}

header > nav > ul > li a{
    text-decoration: none;
    transition: 0.5s ease;
    font-size: 1rem;
    padding: 0.3em;
    border: 1px solid rgba(255, 255, 255, 0);
}

header > nav > ul > li a:hover{
    text-decoration: none;
    border: 1px solid white;
    transition: 0.5s ease;
}


/*=======================================================================*/
/*Main Section*/
.port-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #1E1E1E;
}

.sect-title{
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/*=======================================================================*/

/*== ABOUT ME ==*/
#about-me-section{
    justify-content: space-evenly;
}

#name-intro{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1em;
}

#name-intro > span{
    color: #455F90;
}

.text-about-me{
    display: flex;
    flex-direction: column;
    width: 50vw;
    font-size: 1.2em;
    font-weight: 300;
    padding: 1rem;
}

.text-about-me > button{
    margin-top: 120px;
    background-color: rgba(30, 30, 30, 0);
    border: 0px;
}

.text-about-me > button > a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0.8em;
    border: 2px solid #455F90;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
}

.text-about-me > button > a:hover{
    background-color: #455f90;
    border: 2px solid #455F90;
    padding-left: 3.8em;
    padding-right: 3.8em;
}

.text-about-me > button > a{
    text-decoration: none;
}

.about-me-image img{
    object-fit: cover;
    width: 260px;
    height: 500px;
    border-radius: 0px 190px 0px 140px;
    box-shadow: rgba(69, 95, 170, 0.4) -5px 5px, rgba(69, 95, 144, 0.3) -10px 10px, rgba(69, 95, 144, 0.2) -15px 15px, rgba(69, 95, 144, 0.1) -20px 20px, rgba(69, 95, 144, 0.05) -25px 25px;
}

/*== SKILLS ==*/
#skills-section{
    flex-direction: column;
}

.skill-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 5vh;
}

.skill-list .skill-page > .page-title{
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1em;
}

.skill-icons{
    display: flex;
    justify-content: center;
    align-content: center; 
    flex-wrap: wrap;
    gap: 2em;
}

.skill-icons button{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.skill-icons a{
    background-color: white;
    border: 2px solid #00000000;
    border-radius: 100%;
    padding: 4px;
    transition: 0.5s ease-in-out;
}

.skill-icons a:hover{
    border: 2px solid #455F90;
    box-shadow: 0px 0px 8px 4px #455F90;
}

.skill-icons svg{
    width: 36px;
    height: 36px;
    margin: 12px;
}

/*== WORKS ==*/
#works-section{
    flex-direction: column;
}

.work-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15vh;
}

.work-page{
    text-align: center;
}


.work-title{
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1em;
}

.project-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-page{
    height: 180px;
}

.project-page::before{
    content: 'See Project';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.project-page:hover::before{
    opacity: 1;
}

/*== CONTACTS ==*/
#contact-section{
    flex-direction: column;
}

#contact-section > p{
    margin-bottom: 4rem;
    color: #455F90;
}

#contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    color: white;
    padding: 0.75rem;
}

#contact-form > input, #contact-form > textarea{
    background-color: #3e3e3e;
    padding: 12px;
    width: 100%;
    border: 0px;
}

#contact-form > input:focus, #contact-form > textarea:focus{
    outline: none;
}

#contact-form > button{
    cursor: pointer;
    margin-top: 2rem;
    background-color: #00000000;
    padding: 1em;
    border: 2px solid #455F90;
    border-radius: 50px;
    transition: 0.3s ease;
}

#contact-form > button:hover{
    background-color: #455F90;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

/*=======================================================================*/
.go-up{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 0;
}

.go-up a{
    position: relative;
    top: -40px;
    font-size: 32px;
    transition: 0.3s ease;
}

.go-up a i{
    transition: 0.5s ease;
}

.go-up a:hover i{
    color: #455F90
}


/*=======================================================================*/
/*Footer*/
footer{
    background-color: #455F90;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.4em;
}

.socmed-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.75em;
}

.socmed-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    text-decoration: none;
    transition: 0.3s ease;
}

.socmed-links a:hover{
    border: 1px solid white;
}


/*================================================================================================================================================================================*/
/*================================================================================================================================================================================*/

/* MAX WIDTH 540px*/
@media screen and (max-width: 539px) {
    #about-me-section{
        flex-direction: column-reverse;
    }
    #name-intro{
        font-size: 1rem;
    }
    .text-about-me{
        font-size: 14px;
    }

    .about-me-image img{
        width: 180px;
        height: 180px;
        border-radius: 100%;
        box-shadow: none;

    }
}